
@{
    ViewBag.Title = "Palindroom";
}

<h2>Palindroom</h2>

@{
   
    @ViewBag.ingetiktwoord <text>is</text>
    if (ViewBag.palindroom)
    {
        <Text>een</Text>
    }
    else
    {
        <Text>geen</Text>
    }
    <Text>palindroom</Text>
}