@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron"> 
    <h1>Cookies</h1> 
    <p class="lead">@ViewBag.Tijdstip</p>
    <p> <a href="~/Home/Wissen" class="btn btn-primary btn-lg">Cookie wissen &raquo;</a> </p> 
</div>